<% data.each do |comment| %>
    <div class="comments" id="comment_id-<%= comment.comment_id %>">
      <div> <%= render 'common/user_details' , user: User.find_by_id(comment.user_id) %></div>
      <div id="updated_comment-<%= comment.comment_id %>" style="margin-top: 40px; margin-left: 60px"><%= comment.commented_text %></div>
      <div>
         <div id="edit_box_and_update_button-<%= comment.comment_id %>" class="edit_box_and_update_button_togather" style=" display: none">
         <div> <input type="text" value="<%= comment.commented_text %>" id="editing_comment_field-<%= comment.comment_id %>"  class="update-comment"></div>
         <div> <input type="submit" value="update" id="update_comment_btn-<%= comment.comment_id %>" class="btn-primary" style="float: right"></div>
      </div>
        <% if comment.user_id == current_user.id %>
            <div id="three_dot_menu-<%= comment.comment_id %>" class="three-dot-menu">
              <div class="dropup pull-left">
                <div data-toggle="dropdown">...</div>
                <ul class="dropdown-menu">
                  <li id="edit_comment-<%= comment.comment_id %>"> Edit </li>
                  <li id="delete_comment-<%= comment.comment_id %>"> Delete</li>
                </ul>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<script>

    $('[id*="edit_comment-"]').click(function(e){
        e.preventDefault()
        var comment_id = (this.id).substring('edit_comment-'.length)
        var updated_comment = 'updated_comment-' + comment_id
        $('#' + updated_comment).hide()
        var three_dot_menu = 'three_dot_menu-' + comment_id
        $('#' + three_dot_menu).hide()
        var edit_box_and_update_button = 'edit_box_and_update_button-' + comment_id
        $('#' + edit_box_and_update_button).show()
    })

    $('[id*="update_comment_btn-"]').click(function(e){
        e.preventDefault()
        var comment_id = (this.id).substring('update_comment_btn-'.length)
        var editing_comment_field_id = 'editing_comment_field-' + comment_id
        var updating_comment_field_text_value = $('#' + editing_comment_field_id).val()
        $.ajax({
            url: '/comments/edit',
            type: 'get',
            datatype: 'json',
            data: {	"comment_id": comment_id, updating_comment_text: updating_comment_field_text_value },
            success: function(response){
                if (response['status'] === true){
                  var updated_comment = 'updated_comment-' + comment_id
                    $('#' + updated_comment).html(updating_comment_field_text_value)
                    $('#' + updated_comment).show()
                  var three_dot_menu = 'three_dot_menu-' + comment_id
                    $('#' + three_dot_menu).show()
                  var edit_box_and_update_button = 'edit_box_and_update_button-' + comment_id
                    $('#' + edit_box_and_update_button).hide()
                }
            }
        }).error(function(){
            alert("something went wrong")
        })
    })

    $('[id*="delete_comment-"]').click(function(e){
        e.preventDefault()
        var comment_id = (this.id).substring('delete_comment-'.length)
        $.ajax({
            url: '/comments',
            type: 'delete',
            datatype: 'json',
            data: {	"comment_id": comment_id },
            success: function(response){
                if (response['status'] === true){
                   var removing_comment_field = 'comment_id-' + comment_id
                    $('#' + removing_comment_field).remove()
                    var three_dot_menu = 'three_dot_menu-' + comment_id
                    $('#' + three_dot_menu).hide()
                }
            }
        }).error(function(){
            alert("something went wrong")
        })
    })
</script>