<div class="container">
    <%= form_for @active_user , url: user_path(current_user), html: { multipart: true }, method: :put do |f| %>
        <%= render 'user_profile_pic_uploader', f: f %>
        <div class="profile_wraper">
          <div><%= f.label :name, 'Name' %></div>
          <div><%= f.text_field :name %></br></div>
          <div> <%= f.label :email, 'Email Id' %></div>
          <%= f.text_field :email %></br>
          <div><%= f.label :phone, 'Phone No' %></div>
          <%= f.text_field :phone %></br>
          <%= f.submit %>
        </div>
    <% end %>
</div>

<script>
//  $('.choose_image').change(function(e){
////      $('.choose_image').val()
//      var data = new FormData(this)
//      e.preventDefault();
//      $.ajax({
//          url: '/change_profile_picture',
//          type: 'post',
//          datatype: 'json',
//          processData:false,
//          cache: false,
//          data: {	"image_data": data },
//          success: function(response){
//              if (response['status'] === 1){
//                  var upvote_count_class_name = "downvote-" + answer_id
//                  var value_for_upvote_count = document.getElementsByClassName(upvote_count_class_name)[0].innerHTML
//                  document.getElementsByClassName(upvote_count_class_name)[0].innerHTML = "" + (parseInt(value_for_upvote_count)+1)
//              }
//          }
//      }).error(function(){
//          alert("something went wrong")
//      })
//  })
</script>
