<div class="question_wraper">
  <div class="QuestionMain">
    <div>
      <h2>
        <span><%= @question.name %></span>
      </h2>
      <input type="submit" value="Answer" class="submit-answer  btn-primary">
    </div>
    <div class=" answer-a_question", style="display: none">
      <%= form_for Answer.new , url: question_answers_url(@question) do |f| %>
          <%= f.text_area :content , placeholder: 'Write your answer....' %></br>
          <p><%= f.submit 'submit', :class => 'btn-primary' %></p>
      <% end %>
    </div>
      <div class="answer-count"><%= (@all_answers.length.to_s  + ' Answers') %></div>
    <% @all_answers.each do |answer| %>
      <div class="question_answer_user">
        <div> <%= render 'common/user_details' , user: @all_answered_users[answer.user_id]%></div>
        <div style="margin-top: 40px"><%= answer.content %></div>
        <div class="upvote-count">
          <span id="upvoted_users_of_ans-<%= answer.id%>" > <%= link_to ((answer.upvate).to_s + ' ' + 'upvotes') %> </span>
        </div>
        <div>
          <span id="upvote-<%=answer.id %>" class="upvote-btn">
            <span >Upvote</span>
            <span>|</span>
            <span class="upvote-<%=answer.id %>"> <%= answer.upvate  %></span>
          </span>
          <span id="downvote-<%=answer.id %>" class="downvoted-btn">
            <span >Downvote</span>
            <span>|</span>
            <span class="downvote-<%=answer.id %>"><%= answer.downvote %></span>
          </span>
          <% if current_user.id == answer.user_id %>
              <script>
                  var disable_btn = 'upvote-' + '<%= answer.id %>'
                  $('#' + disable_btn).attr('disabled','disabled');
              </script>
          <% end %>

        </div>
        <div id="upvoted_count_position_fixed-<%= answer.id %>" style="display: none" class="upvoted_count_position_fixed" > <%= answer.upvate %>  Upvoters </div>
        <div id="upvoted_user_modal_wrapper-<%= answer.id %>" class="upvoted_user_modal_wrapper" style="display: none">
          <div id="upvoted_answer_users-<%= answer.id %>" class="answer_voter_list">
          </div>
        </div>
        <div id="comment_box_and_comment_button-<%= answer.id %>" class="comment-box-btn-togather" style="display: none">
          <div> <%= render 'users/user_profile_pic_small', user: current_user %></div>
          <input type="text"  id="comment-answer-<%= answer.id %>" placeholder="Add a comment...." class="add-comment">
          <input type="submit" value="Comment" id="submit-comment-<%= answer.id%>" style="display: none" class="btn-primary">
        </div>
        <% if (answer.comments.count > 0) %>
            <div id="load_comment_of_answer-<%= answer.id %>" class="all-comments">
              <%= render 'comments/load_comments', last_comment: answer.comments.last, user_of_last_comment: answer.comments.last.user, answer_id: answer.id %>
            </div>
        <% else %>
          <script>
            var comment_box_and_comment_button = 'comment_box_and_comment_button-' + '<%= answer.id%>'
              $('#' + comment_box_and_comment_button).show()
          </script>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(document).on('click', '.submit-answer', function(){
      $('.answer-a_question').show()
      $('.submit-answer').hide()

  })



  $('[id*="edit_comment-"]').click(function(e){
      e.preventDefault()
      var comment_id = (this.id).substring('edit_comment-'.length)
      var updated_comment = 'updated_comment-' + comment_id
      $('#' + updated_comment).hide()
      var three_dot_menu = 'three_dot_menu-' + comment_id
      $('#' + three_dot_menu).hide()
      var edit_box_and_update_button = 'edit_box_and_update_button-' + comment_id
      $('#' + edit_box_and_update_button).show()
  })

  $('[id*="upvote-"]').click(function(){
      var answer_id = (this.id).substring('upvote-'.length)
      $.ajax({
          url: '/upvote_answer',
          type: 'post',
          datatype: 'json',
          data: {	"answer_id": answer_id},
          success: function(response){
              if (response['status'] === 1){
                  var upvote_count_class_name = "upvote-" + answer_id
                  var value_for_upvote_count = document.getElementsByClassName(upvote_count_class_name)[0].innerHTML
                  document.getElementsByClassName(upvote_count_class_name)[0].innerHTML = "" + (parseInt(value_for_upvote_count)+1)
              }
          }
      }).error(function(){
          alert("something went wrong")
      })
  });

  $('[id*="downvote-"]').click(function(){
      var answer_id = (this.id).substring('downvote-'.length)
      $.ajax({
          url: '/downvote_answer',
          type: 'post',
          datatype: 'json',
          data: {	"answer_id": answer_id},
          success: function(response){
              if (response['status'] === 1){
                  var upvote_count_class_name = "downvote-" + answer_id
                  var value_for_upvote_count = document.getElementsByClassName(upvote_count_class_name)[0].innerHTML
                  document.getElementsByClassName(upvote_count_class_name)[0].innerHTML = "" + (parseInt(value_for_upvote_count)+1)
              }
          }
      }).error(function(){
          alert("something went wrong")
      })
  })


  $('[id*="submit-comment-"]').click(function(){
      var answer_id = (this.id).substring('submit-comment-'.length)
      var  comment_id = 'comment-answer-' + answer_id
      var commented_text = document.getElementById(comment_id).value
      if(commented_text != ''){
          $.ajax({
              url: '/new_comment',
              type: 'post',
              datatype: 'json',
              data: {	"answer_id": answer_id, commented_text: commented_text},
              success: function(response){
                  if(response.status === true){
//                      var new_div = $('<div class="your_recent_comments"></div>')
//                      new_div.append(response.recent_comment)
                      var comment_box_and_comment_button = 'comment_box_and_comment_button-' + answer_id
                      $('#' + comment_box_and_comment_button).after(response.recent_comment)
                      $('#' + comment_id).val('')

                  }
              }
          }).error(function(){
              alert("Invalid response")
          })
      }
  })

  $('[id*="comment-answer-"]').click(function(){
      var answer_id = (this.id).substring('comment-answer-'.length)
      var  comment_id = 'comment-answer-' + answer_id
      var submit_comment_btn_id = 'submit-comment-' + answer_id
      $('#' + submit_comment_btn_id).show()
  })


  $('[id*="comment_id-"]').click(function(e){
      e.preventDefault()
      var answer_id = (this.id).substring('comment_id-'.length)
      var comment_box_and_comment_button = 'comment_box_and_comment_button-' + answer_id
      $('#' + comment_box_and_comment_button).show()
      var last_comment_id = 'comment_id-' + answer_id
      $('#' + last_comment_id).hide()
      $.ajax({
          url: '/show_comments_of_a_answer',
          type: 'post',
          datatype: 'json',
          data: {	"answer_id": answer_id},
          success: function(response){
              if (response['status'] === true){
                  var load_all_comment = 'load_all_comments-' + answer_id
                  $('#' + load_all_comment).html(response.all_comments_of_answer_partial_view);
                  $('#' + load_all_comment).show()

              }
          }
      }).error(function(){
          alert("something went wrong")
      })
  })

  $('[id*="upvoted_users_of_ans-"]').click(function(e){
      e.preventDefault()
      var answer_id = (this.id).substring('upvoted_users_of_ans-'.length)
      $.ajax({
          url: '/show_upvoted_users',
          type: 'post',
          datatype: 'json',
          data: {	"answer_id": answer_id},
          success: function(response){
              if (response['status'] === true){
                  var upvoted_answer_users_id = 'upvoted_answer_users-' + answer_id
                  var upvoted_user_modal_wrapper = 'upvoted_user_modal_wrapper-' + answer_id
                  var upvoted_count_position_fixed = 'upvoted_count_position_fixed-' + answer_id
                  $('#' + upvoted_count_position_fixed).show()
                  $('#'+ upvoted_user_modal_wrapper).show()
                  $('#' + upvoted_answer_users_id).html(response.new_view_partial);
              }
          }
      }).error(function(){
          alert("something went wrong")
      })
  })

</script>